* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    margin: 1em auto;


}

.sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sub-container h4{
    margin-bottom: 10px;
    color: blue;
}
.form1 {

    align-items: center;
    text-align: left;
    border: 2px solid green;
    margin: 20px;
    padding: 20px;
    width: 350px;

}

#input_budget {
    width: 90%;
    margin: 10px 0px;
}


.form2 {
    display: block;
    border: 2px solid red;
    width: 350px;
    margin: 20px;
    padding: 20px;
    flex-direction: column;

}


.form2 input {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.hide {
    display: none;
}

.error {
    color: red;
}

.form-list{
    margin: 5px 0;
}

.parent-div{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr ;
    padding: 0.5em 1em;
    margin-top: 1em;
}
#edit-button{
    margin-right: 1em;
    color: blue;
    border: none;
    cursor: pointer;
}
#delete-button{
    margin-right: 1em;
    color: red;
    border: none;
    cursor: pointer;
}